@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --electric-violet-50: #f3f1ff;
  --electric-violet-100: #ebe5ff;
  --electric-violet-200: #d9ceff;
  --electric-violet-300: #bea6ff;
  --electric-violet-400: #9f75ff;
  --electric-violet-500: #843dff;
  --electric-violet-600: #7916ff;
  --electric-violet-700: #6b04fd;
  --electric-violet-800: #5a03d5;
  --electric-violet-900: #4b05ad;

  --clr-white: #fdfdff;
  --clr-black: rgb(50, 38, 53);
  --clr-gray: #4d4d4d;
  --line-margin: 0.75rem;
  --border: 2px solid var(--clr-gray);
  --shadow: 0 0 25px -6px rgba(0, 0, 0, 0.5);
}

body,
html {
  width: 100%;
  background: var(--electric-violet-400);
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: var(--clr-black);
}

h1,
h2 {
  color: var(--clr-black);
}

main {
  background: var(--clr-white);
  display: flex;
  flex-flow: column wrap;
  padding: 2rem 3rem;
  margin: 2rem 4rem;
  border-radius: 0.5rem;
  width: 35rem;
  max-width: 90vw;
  box-shadow: 2px 3px 2ch rgba(0, 0, 0, 0.15);
  /* border: var(--border); */
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
}

main p {
  width: max-content;
  align-self: center;
}

main > * {
  margin: var(--line-margin) 0 var(--line-margin) 0;
  width: 100%;
}

main button {
  padding: 0.5rem;
  max-width: 20rem;
  background: var(--electric-violet-600);
  color: white;
  outline: none;
  font-size: 1rem;
  /* border-radius: 1rem; */
  display: var(--display-output);
}

main section {
  position: absolute;
  left: 50%;
  top: 17rem;
  transform: translateX(-50%);
  max-width: 95vw;
  background: var(--clr-white);
  padding: 2rem;
  /* border: var(--border); */
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  /* width: max-content; */
  box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
}

input {
  padding: 1rem 1.5rem;
  /* border: var(--border); */
  /* border-radius: 0.5rem; */
  font-size: 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: var(--line-margin);
}

td,
th {
  border: 1px solid var(--electric-violet-200);
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: var(--electric-violet-200);
}

td input {
  padding: 0.5rem 1rem;
  width: 100%;
}

#user-input {
  display: var(--display-input);
}

#shortened-url {
  display: var(--display-output);
  text-align: center;
}
